* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Nav */
.nav-ul {
  z-index: 100 !important;
}

.logo {
  height: 60px;
}

.nav-ul li a {
  margin: 10px;
  text-decoration: none;
  color: #7300a0;
  font-weight: 600;
  font-size: 17px;
  transition: all 0.2s;
  padding: 7px 15px;
  border-radius: 20px;
}

.nav-ul li a:hover {
  font-size: 18px;
  color: #9c00da;
}

.nav-active {
  background-color: #7300a0;
  color: white !important;
}

#navButton {
  display: none;
  background-color: rgba(255, 255, 255, 0);
  color: #7300a0;
  border: none;
  font-size: 25px;
}
/* End Nav */

/* Articles Card */
.card-content-container {
  width: 500px;
  height: 650px;
  margin: auto;
}

.card-content-container img {
  height: 300px;
}

.btn-go-sw {
  background-color: #7300a0;
  color: white;
}
/* End of Articles Card */

/* Form */
.form {
  position: relative;
  max-width: 700px;
  margin: auto;
}

.logo-in-form {
  height: 65px;
  width: 200px;
}

.input-container-container {
  justify-content: center;
}

.input-container {
  position: relative;
  margin: 10px;
  margin-top: 30px;
}

.input-container label {
  position: absolute;
  background-color: white;
  padding: 0px 10px;
  top: -10px;
  left: 13px;
  pointer-events: none;
  font-size: 13px;
}

.input-container input,
.input-container select {
  width: 250px;
}

.input-container input::placeholder {
  color: rgba(115, 0, 160, 0);
}

.input-checkbox {
  margin: auto;
  margin-top: 30px;
}

.invalid-feedback {
  position: absolute;
  width: 500px;
  pointer-events: none;
  font-size: 12px;
} 

.btnSubmitForm {
  width: 100px;
  color: white;
  background-color: #7300a0;
  margin: auto;
}

.btnSubmitForm:hover {
  color: white;
  background-color: #9c00da;
}
/* End of Form */

@media (max-width: 1200px) {
  .card-content-container {
    height: auto;
  }
}

@media (max-width: 992px) {
  .nav-ul {
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 5px rgb(175, 175, 175);
    width: 250px;
    height: 100%;
    transition: all 0.5s;
    transform: translateX(-100%);
  }

  .nav-ul li {
    position: relative;
    margin: 5px;
  }

  .nav-ul li a {
    margin: 0;
    display: block;
    font-size: 25px;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }

  .nav-ul li a i {
    margin-right: 15px;
    font-size: 20px;
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    /* box-shadow: 1px 1px 5px rgb(226, 226, 226); */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  .nav-ul li a:hover {
    font-size: 25px;
    background-color: rgb(235, 235, 235);
  }

  .nav-active:hover {
    background-color: #7300a0 !important;
    color: white !important;
  }

  .nav-active i {
    color: #7300a0 !important;
  }

  #navButton {
    display: block;
  }
}
